<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="email-verification-waiting">
        <h2>Login-Bestätigung erforderlich</h2>
        <f:flashMessages />
        <div class="alert alert-info">
            <p>Wir haben eine E-Mail mit einem Bestätigungslink an deine registrierte E-Mail-Adresse gesendet.</p>
            <p>Bitte überprüfe dein E-Mail-Postfach und klicke auf den Bestätigungslink, um deinen Login abzuschließen.</p>
        </div>
        
        <div class="info-box">
            <h3>Keine E-Mail erhalten?</h3>
            <ul>
                <li>Überprüfe deinen Spam-Ordner</li>
                <li>Stelle sicher, dass deine E-Mail-Adresse korrekt ist</li>
                <li>Die E-Mail sollte innerhalb weniger Minuten ankommen</li>
            </ul>
            
        </div>
        
    </div>
</f:section>
</html>