<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
    <div class="email-verification-process">
        <h2>E-Mail-Bestätigung</h2>
        
        <div class="verification-status">
            <f:if condition="{valid}">
                <f:then>
                    <div class="alert alert-success">
                        <p>Deine E-Mail-Adresse wurde erfolgreich bestätigt!</p>
                        <p>Du wirst automatisch weitergeleitet...</p>
                    </div>
                    
                    <script>
                        // Automatische Weiterleitung nach 3 Sekunden
                        setTimeout(function() {
                            window.location.href = '{redirectUrl}';
                        }, 3000);
                    </script>
                </f:then>
                <f:else>
                    <div class="alert alert-danger">
                        <p>Der Bestätigungslink ist ungültig oder abgelaufen.</p>
                        <p>Bitte melde dich erneut an.</p>
                    </div>
                    
                    <div class="action-buttons">
                        <a href="{f:uri.page(pageUid: settings.loginPageId)}" class="btn btn-primary">Zum Login</a>
                    </div>
                </f:else>
            </f:if>
        </div>
    </div>
</f:section>
</html>